<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ramadan Count Down | Amr Mahmoud</title>
	<meta name="og:description" content="Ramadan Count down by Amr Mahmoud">
	<meta property="og:image" content="description.jpg" />
	<link rel="icon" href="icon.png" type="image/png" sizes="24x24">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="video"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align: center;"><img src="header.png" id="Image"></div>
		</div>
		<div class="main-example row">
<div class="countdown-container" data-timer="2018/05/16" id="main-example"></div>
</div>
<script type="text/template" id="main-example-template">
<div class="time <%= label %>">
	<img class="over top" src="border-top.svg">
	<img class="over bottom" src="border-bottom.svg">
  <span class="count curr top"><%= curr %></span>
  <span class="count next top"><%= next %></span>
  <span class="count next bottom"><%= next %></span>
  <span class="count curr bottom"><%= curr %></span>
  <span class="label"><%= label  %></span>
</div>
</script>
	<div class="footer">All &copy; Copyrights Reserved By <a href="//fb.com/3mr.Mahmoud" target="_blank">Amr Mahmoud</a></div>
	</div>
</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script type="text/javascript" src="js/script.js"></script>
</html>